body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family: "Lobster", cursive;
}
h1 {
  margin: 0;
}
.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}
.wide-group {
  margin: 0px;
  padding: 0px;
}
h2 {
  color: #3046c5;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0;
}

.upload-btn {
  color: aquamarine;
  background-color: rgba(0, 0, 0, 1);
  justify-content: center;
  align-self: center;
}
.card {
  width: 350px;
  height: 417px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  box-shadow: 15px 10px 25px 0px #3fa1a9;
  background: rgb(127, 73, 228);
  background-repeat: no-repeat, no-repeat;
  background-position: 120% -5%, 200% -40%;
  background-size: 40%, 80%;
  animation: open 0.5s;
}
.inputCard {
  width: 450px;
  height: 477px;
}
.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637dd, #3046c5, #60106b);
  color: white;
  margin-bottom: 0px !important;
  padding-bottom: 0px;
}

.jumbotron h2 {
  color: #cec8ff;
}

.navbar-dark {
  background-color: #901cad;
}
.navbar {
  margin-bottom: 0;
  padding: 0;
}
.parent {
  position: absolute;
  top: 0;
  left: 0;
}
.clsFirstImg {
  position: absolute;
  width: 450px;
  top: 70px;
  left: 0;
  margin: 0;
  padding: 0;
}
.clsSecondImg {
  position: relative;
  top: -40px;
  width: 350px;

  left: 0;
  margin: 0;
  padding: 0;
}
